altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
asgiref==3.8.1
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
distro==1.9.0
Django==3.2.25
django-environ==0.11.2
django-extensions==3.1.3
django-stubs==1.8.0
django-stubs-ext==5.0.0
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
importlib_metadata==7.0.2
jiter==0.5.0
mypy==1.10.0
mypy-extensions==1.0.0
openai==1.40.3
packaging==24.1
pefile==2023.2.7
pexels-api==1.0.1
pillow==10.4.0
playwright==1.42.0
psutil==5.9.8
psycopg2-binary==2.9.9
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pyee==11.0.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.2
pyppeteer==2.0.0
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==72.1.0
sniffio==1.3.1
sqlparse==0.5.0
tqdm==4.66.2
typing_extensions==4.12.2
urllib3==1.26.18
websockets==10.4
whichcraft==0.6.1
zipp==3.18.0
zope.event==5.0
zope.interface==7.0.1
