{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>My First Django App</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block basecontent %}
  <header>
      <nav> 
          <a href=" {% url 'appname:home' %} "> </a>        <!--  ............................. Home is Render Function from View, and Urls -->
      </nav>
    </header>
  <main>
      
    {% block content %}        <!-- ................................................... We can use "body" or anything instead of content -->               
    {% endblock %}
      
  </main>
  <footer></footer>
{% endblock %}
{% block js %}
    <script src="{% static 'js/function.js' %}"></script>
{% endblock %}
